<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Car Directory</title>
</head>

<body>

<div class="container">

    <hr>

    <h3>Car Showroom</h3>

    <hr>

    <!-- Add a button -->
    <a th:href="@{/cars/showFormForAdd}"
       class="btn btn-primary btn-sm mb-3">
        Add Car
    </a>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>Car Name</th>
            <th>Car Model</th>
            <th>Car color</th>
            <th>Image</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempCar : ${cars}">

            <td th:text="${tempCar.carName}" />
            <td th:text="${tempCar.carModel}" />
            <td th:text="${tempCar.carColor}" />

            <td>
                <img th:src="@{${tempCar.carImge}}" alt="Car Image" style="width:250px; height:200px;" />
            </td>
            <!-- Add update button/link -->
            <td>
                <a th:href="@{/cars/showFormForUpdate(carId=${tempCar.id})}"
                   class="btn btn-info btn-sm">
                    Update Car
                </a>

                <a th:href="@{/cars/delete(carId=${tempCar.id})}"
                   class="btn btn-danger btn-sm"
                   onclick="if(!(confirm('Are you sure you want to delete this Car?')))return false">
                    Delete Car
                </a>
            </td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>


